*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/wdtheprovider/inapppurchase/adapters/RemoveAdsAdapter.java
/app/src/main/java/com/wdtheprovider/inapppurchase/adapters/BuyCodeAdapter.java
/app/src/main/java/com/wdtheprovider/inapppurchase/adapters/BuyCoinsAdapter.java
/app/src/main/java/com/wdtheprovider/inapppurchase/adapters/SubscriptionAdapter.java
/app/src/main/java/com/wdtheprovider/inapppurchase/activities/BuyCodeActivity.java
