<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wdtheprovider.inapppurchase">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sharcourse">
        <activity
            android:name="com.wdtheprovider.inapppurchase.activities.RemoveAdsActivity"
            android:exported="false" />
        <activity
            android:name="com.wdtheprovider.inapppurchase.activities.BuyCoinActivity"
            android:exported="true" />
        <activity
            android:name="com.wdtheprovider.inapppurchase.activities.Subscriptions"
            android:exported="true" />
        <activity
            android:name="com.wdtheprovider.inapppurchase.activities.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.wdtheprovider.inapppurchase.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>